body{
    background-color: #ddd;
}

h1{
    color: rebeccapurple;
}
h2{
    color: green;
}
.text1 {
    font-style: italic;
}
.text2{
    color: red;
}
.text3{
    color: hotpink;
}
.text4{
    color: red;
}
li{
    font-weight: bold;
}
dt{
    color: slateblue;
}
hr{
    border:2px solid red;
}